.bar-container {
    display: flex;
    color: black
    /* margin: 16px; */
}

.data-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

.bar-name {
    width: 100px;
    text-align: end;
    margin: 0px 8px;
}

.bar {
    height: 21px;
    width: 200px;
    border-radius: 0 8px 8px 0;
    background: #8784D2;
}