.title {
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.77px;
    text-align: left;
}

.container {
    display: flex;
    background-color: #626262;
    padding: 8px;
    margin: 8px 0;
}

.btn-container {
    gap:16px
}
